//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $brand-primary: #3b5998;

.add-btn-css{
    float: right;
}
.login-bg{
    background-image: url("../../media/photos/bg_hero_landing.jpg") !important;
    // background-image: url('./assets/media/photos/photo34@2x.jpg);
}
.bill-btn {
    height: 30px;
    border-radius: 3px !important;
    margin-left: 10px !important;
    margin-top: 39px;
}